{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class='text-white my-5'>About Page</h3>

    <div class="jumbotron jumbotron-fluid jumbo-color">
      <div class="container">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">Hier ist eine kleine django projekt .</p>
        <hr class="my-4">
        <p>Myblog kann mann Post adieren und bearbeiten und registrieren bzw duch Google account.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
    </div>
</div>
{% endblock content %}

